.button-submit {
  width: 100%;
  min-height: 45px;
  margin: 200px 0 0 0;
  padding: 15px 0;
  background: #000000;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.button-submit:hover {
  opacity: 0.6;
}

@media screen and (min-width: 700px) {
  .button-submit {
    padding: 13px 0 15px;
    font-size: 14px;
    margin-top: 120px;
  }
}
