.header {
  margin: 18px 30px;
  display: flex;
  align-items: center;
}

.header__sidebar-button {
  display: none;
}

@media screen and (max-width: 800px) {
  .header {
    margin: 18px 30px 0;
  }

  .header__sidebar-button {
    display: block;
    background: none;
    border: none;
    font-size: 44px;
    color: #000;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  .header {
    margin: 15px 14px 0;
  }
}
