.login {
  margin-top: 56px;
  margin-bottom: 30px;
}

.login__link-question {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #a0a0a0;
  padding: 0;
  margin-top: 14px;
}

.login__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.login__link:hover {
  opacity: 0.6;
}

.login__input-field:last-of-type {
  margin-bottom: 310px;
}

.login__res-error {
  position: absolute;
  top: 600px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.login__res-error_type_active {
  visibility: visible;
}

@media screen and (min-width: 700px) {
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 232px 0;
  }

  .login__link-question {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 16px;
  }

  .login__link {
    font-size: 14px;
    line-height: 1.21;
  }

  .login__res-error {
    top: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .login {
    margin: 70px 0;
  }
}
